Unidad_04_DTD_XSD/XSD/Ejercicios con errores/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
    <xs:attribute name="id" type="xs:integer" />
  </xs:element>
</xs:schema>
