Unidad_04_DTD_XSD/XSD/Ejercicios con errores/ejercicio4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" />
      <xs:attribute name="salary" type="xs:integer" /> <!-- Error: Atributo duplicado -->
    </xs:complexType>
  </xs:element>
</xs:schema>
